@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply py-2 px-4 m-1 font-semibold rounded-lg shadow-md disabled:opacity-50
  }

  .btn-purple {
    @apply bg-purple-600 active:text-purple-600 active:bg-purple-50 text-purple-100 focus:ring-1 focus:ring-purple-50
  }

  @variants responsive {
    .banner {
      height: calc(100vh - 300px);
      background: url(./assets/banner.jpg) right 50% top 60% / cover no-repeat border-box;
    }

    .smallBanner {
      background: url(./assets/banner.jpg) right 50% top 80% / cover no-repeat border-box;
      height: 50vh
    }
  }
}


